---
import fs from "fs";
import Layout from "../../layouts/Layout.astro";
import { StepperUI } from "../../components/react/stepper-ui";
import CodeBlock from "../../components/react/stepper/code-block.astro";

const StepperUIString = fs.readFileSync(
  "src/components/react/stepper-ui.tsx",
  "utf8"
);
const FirstFormString = fs.readFileSync(
  "src/components/react/stepper/first-form.tsx",
  "utf8"
);
const SecondFormString = fs.readFileSync(
  "src/components/react/stepper/second-form.tsx",
  "utf8"
);
---

<Layout title="Stepper UI Demo">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css"
    />
  </head>

  <h1
    class="text-center text-4xl font-bold text-transparent bg-clip-text bg-gradient-to-t from-purple-950 to-purple-100 py-5"
  >
    Stepper UI Demo
  </h1>

  <section class="my-10">
    <StepperUI client:load />
  </section>

  <section class="text-gray-300 my-10">
    <h2 class="text-2xl font-semibold mb-4">Documentation & Usage</h2>
    <p>
      <strong>StepperUI</strong> is a React multi-step form component with validation
      and state persistence. Navigate through steps, fill forms, and see real-time
      updates.
    </p>
    <ul class="list-disc pl-5 mt-3">
      <li>Supports multiple steps</li>
      <li>Customizable step icons and buttons</li>
    </ul>
  </section>

  <section class="grid grid-cols-2 gap-4 mb-10">
    <div>
      <CodeBlock
        filename="first-form.tsx"
        language="tsx"
        code={FirstFormString}
      />
    </div>
    <div>
      <CodeBlock
        filename="second-form.tsx"
        language="tsx"
        code={SecondFormString}
      />
    </div>
    <div class="col-span-2">
      <CodeBlock
        filename="stepper-ui.tsx"
        language="tsx"
        code={StepperUIString}
      />
    </div>
  </section>

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"
    is:inline></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-jsx.min.js"
    is:inline></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-typescript.min.js"
    is:inline></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-tsx.min.js"
    is:inline></script>
</Layout>
