html {
  scroll-behavior: auto;
}


@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-ExtraBold.woff2');
  font-weight: 700;
  font-style: normal;
}

.pseudo-boder::after,
.pseudo-boder::before {
  box-shadow: -6px 0 0 0 black,
    6px 0 0 0 black,
    0 -6px 0 0 black,
    0 6px 0 0 black;
}

.button-animation::before {
  animation: glowing 20s linear infinite;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.text-jumping {
  animation: jumping 2s linear infinite;
}

@keyframes jumping {

  0%,
  100% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}


.text-jumping::after {
  animation: jumping-shadow 2s linear infinite;
  margin: 0 auto;
}

@keyframes jumping-shadow {

  0%,
  100% {
    width: 45%;
    transform: translateY(50px);
  }

  25% {
    width: 50%;
    transform: translateY(50px);
  }

  50% {
    width: 60%;
    transform: translateY(50px);
  }

  75% {
    width: 50%;
    transform: translateY(50px);
  }
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.paragraph>p {
  font-family: 'Roboto';
}

.slide {
  animation: 15s slide infinite linear;
}

@keyframes slide {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

.title {
  font-family: 'Poppins';
}

html {
  scroll-behavior: smooth;
}

.main-image {
  mask-image: linear-gradient(rgb(243, 61, 0) 50%, transparent 100%);
  -webkit-mask-image: linear-gradient(rgb(233, 106, 21) 50%, transparent 100%);
  mask-size: cover;
  -webkit-mask-size: cover;
}

.card-project-mask {
  position: relative;
  overflow: hidden;
  /* asegura que el overlay no se salga */
}

.card-project-mask::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.762) 0%,
      /* más oscuro arriba */
      rgba(0, 0, 0, 0.15) 40%,
      /* se va aclarando */
      rgba(0, 0, 0, 0) 100%
      /* totalmente transparente abajo */
    );
  pointer-events: none;
}