---
import Layout from "../layouts/Layout.astro";
import BriefcaseIcon from "../components/icons/BriefcaseIcon.astro";
import ExternalLinkIcon from "../components/icons/ExternalLinkIcon.astro";
import CodeIcon from "../components/icons/CodeIcon.astro";
import SkillSection from "../components/SkillSection.astro";
import Header from "../components/Header.astro";
---

<Layout title="Bienvenido a mi portafolio">
	<main
		class="max-w-[1500px] w-full py-20 px-10 lg:px-32 items-center font-bold min-h-screen"
	>
		<Header />
		<section
			class="w-ful py-20 text-white [&>article]:transition-all [&>article]:duration-300 [&>article]:ml-10 [&>article> overflow-hidden"
		>
			<h3
				class="text-5xl lg:tracking-widest text-white mb-10 text-left inline-flex items-center [&>svg]:mr-2 [&>svg]:text-yellow-400"
			>
				<BriefcaseIcon width="50" height="50" />
				Experiencia laboral
			</h3>
			<article
				class="border-l-4 border-dashed border-blue-600/20 relative hover:border-blue-600 pl-7 after:-left-3 after:top-8 after:absolute after:text-yellow-400/30 after:content-['*'] after:text-[49px]
				 hover:after:text-yellow-400 paragraph py-5 after:transition-all after:duration-400 [&>p]:text-base"
			>
				<h4 class="text-orange-600 font-bold text-3xl my-2">
					Analista de sistemas
				</h4>
				<div class="text-blue-500 text-2xl mb-4 flex justify-between">
					<span>IGECEM</span>
					<span class="font-">Actualmente</span>
				</div>
				<p>
					Me especializo en el desarrollo de sistemas internos a
					medida, diseñados específicamente para satisfacer las
					necesidades del instituto. Mi enfoque se distingue por la
					implementación de herramientas innovadoras que optimizan
					procesos y potencian la eficiencia. Cada solución que
					construyo es única y adaptada, asegurando que el instituto
					cuente con herramientas tecnológicas personalizadas para
					impulsar su éxito.
				</p>
			</article>
			<article
				class="border-l-4 border-dashed border-blue-600/20 relative hover:border-blue-600 pl-7 after:-left-3 after:top-8 after:absolute after:text-yellow-400/30 after:content-['*'] after:text-[49px]
				 hover:after:text-yellow-400 paragraph py-5 after:transition-all after:duration-400 [&>p]:text-base"
			>
				<h4 class="text-orange-600 font-bold text-3xl my-2">
					Desarrollador Fullstack
				</h4>
				<div class="text-blue-500 text-2xl mb-4 flex justify-between">
					<span>Digital Pineapple</span>
					<span class="font-">2021 - 2023</span>
				</div>
				<p>
					Como desarrollador Full Stack, estuve a cargo de la creación
					de plataformas robustas y escalables diseñadas para atender
					a miles de usuarios. Mi enfoque se centró en fusionar la
					versatilidad del desarrollo tanto en el frontend como en el
					backend, asegurando que cada aspecto de la experiencia del
					usuario estuviera cuidadosamente elaborado.
				</p>
			</article>
		</section>
		<section
			class="w-ful py-20 text-white [&>article]:transition-all [&>article]:duration-500"
		>
			<h3
				class="text-5xl lg:tracking-widest text-white mb-24 flex justify-center items-center [&>svg]:mr-2 [&>svg]:text-yellow-400"
			>
				<CodeIcon width="50" height="50" /> Proyectos
			</h3>

			<div class="grid grid-cols-1 lg:grid-cols-3 gap-20">
				<article
					class="rounded-lg card-border relative p-8 [&> [&>h4]:text-4xl [&>h4]:block bg-zinc-900
						hover:before:-top-8 hover:after:-top-16 before:transition-all before:duration-400 after:transition-all after:duration-500
						before:w-full before:h-full before:absolute before:-z-10 before:-top-4 before:left-4 before:content-['2022_-_2023']
						before:px-5
						before:bg-blue-600 after:bg-orange-600 pseudo-boder after:rounded-lg before:rounded-lg
						after:w-full after:h-full after:absolute after:-z-20 after:-top-7 after:left-7 after:content-['Digital_Pineapple']
						after:px-3
						cursor-pointer paragraph [&>p]:text-sm"
				>
					<figure
						class="bg-black aspect-square max-w-[20rem] max-h-[20rem] w-full"
					>
						<img
							src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSn2zYLLsJjVQynvpck60kkJ73qQbIGHorfuksTLvCrCyjviwbC-izY9Q5T4B62oihx0E&usqp=CAU"
							alt="wapizima"
							class="h-auto w-full bg-contain object-contain"
						/>
					</figure>

					<h4>Wapizima</h4>
					<p class="">
						Ecommerce global desarrollado con NextJs, Tailwind CSS y
						Redux. En esta plataforma, con opciones de divisas
						asegurando así una experiencia de compra eficiente y
						adaptada a usuarios de diversas regiones del mundo.
					</p>
					<footer
						class="flex justify-between items-center [&>*:first-child]:mr-8 text-center mt-2"
					>
						<a
							href="#"
							class="block py-2 px-6 card-border mt-2 relative
							bg-orange-600 hover:bg-orange-500
							after:absolute after:bottom-0 after:h-1 after:w-full after:bg-orange-800 after:left-0
							before:absolute before:bottom-0 before:h-full before:w-1 before:bg-orange-800 before:right-0
							hover:after:h-[6px] hover:before:w-[6px] transition-all duration-75 after:transition-all after:duration-75
							before:transition-all before:duration-75 w-auto"
						>
							<ExternalLinkIcon width="30" height="30" />
						</a>
						<a
							href="#"
							class="block py-2 px-6 card-border mt-2 relative
						bg-blue-600 hover:bg-blue-500
						after:absolute after:bottom-0 after:h-1 after:w-full after:bg-blue-800 after:left-0
						before:absolute before:bottom-0 before:h-full before:w-1 before:bg-blue-800 before:right-0
						hover:after:h-[6px] hover:before:w-[6px] transition-all duration-75 after:transition-all after:duration-75
						before:transition-all before:duration-75 w-auto"
						>
							<CodeIcon width="30" height="30" />
						</a>
					</footer>
				</article>
				<article
					class="rounded-lg card-border relative p-8 [&>h4]:text-4xl [&>h4]:block bg-zinc-900
						hover:before:-top-8 hover:after:-top-16 before:transition-all before:duration-400 after:transition-all after:duration-500
						before:w-full before:h-full before:absolute before:-z-10 before:-top-4 before:left-4 before:content-['2022_-_2023']
						before:px-5
						before:bg-blue-600 after:bg-orange-600 pseudo-boder after:rounded-lg before:rounded-lg
						after:w-full after:h-full after:absolute after:-z-20 after:-top-7 after:left-7 after:content-['Digital_Pineapple']
						after:px-3
						cursor-pointer paragraph [&>p]:text-sm"
				>
					<figure
						class="bg-black aspect-square max-w-[20rem] max-h-[20rem] w-full"
					>
						<img
							src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSn2zYLLsJjVQynvpck60kkJ73qQbIGHorfuksTLvCrCyjviwbC-izY9Q5T4B62oihx0E&usqp=CAU"
							alt="wapizima"
							class="h-auto w-full bg-contain object-contain"
						/>
					</figure>

					<h4>Wapizima</h4>
					<p class="">
						Ecommerce global desarrollado con NextJs, Tailwind CSS y
						Redux. En esta plataforma, con opciones de divisas
						asegurando así una experiencia de compra eficiente y
						adaptada a usuarios de diversas regiones del mundo.
					</p>
					<footer
						class="flex justify-between items-center [&>*:first-child]:mr-8 text-center mt-2"
					>
						<a
							href="#"
							class="block py-2 px-6 card-border mt-2 relative
							bg-orange-600 hover:bg-orange-500
							after:absolute after:bottom-0 after:h-1 after:w-full after:bg-orange-800 after:left-0
							before:absolute before:bottom-0 before:h-full before:w-1 before:bg-orange-800 before:right-0
							hover:after:h-[6px] hover:before:w-[6px] transition-all duration-75 after:transition-all after:duration-75
							before:transition-all before:duration-75 w-auto"
						>
							<ExternalLinkIcon width="30" height="30" />
						</a>
						<a
							href="#"
							class="block py-2 px-6 card-border mt-2 relative
						bg-blue-600 hover:bg-blue-500
						after:absolute after:bottom-0 after:h-1 after:w-full after:bg-blue-800 after:left-0
						before:absolute before:bottom-0 before:h-full before:w-1 before:bg-blue-800 before:right-0
						hover:after:h-[6px] hover:before:w-[6px] transition-all duration-75 after:transition-all after:duration-75
						before:transition-all before:duration-75 w-auto"
						>
							<CodeIcon width="30" height="30" />
						</a>
					</footer>
				</article>
				<article
					class="rounded-lg card-border relative p-8 [&> [&>h4]:text-4xl [&>h4]:block bg-zinc-900
						hover:before:-top-8 hover:after:-top-16 before:transition-all before:duration-400 after:transition-all after:duration-500
						before:w-full before:h-full before:absolute before:-z-10 before:-top-4 before:left-4 before:content-['2022_-_2023']
						before:px-5
						before:bg-blue-600 after:bg-orange-600 pseudo-boder after:rounded-lg before:rounded-lg
						after:w-full after:h-full after:absolute after:-z-20 after:-top-7 after:left-7 after:content-['Digital_Pineapple']
						after:px-3
						cursor-pointer paragraph [&>p]:text-sm"
				>
					<figure
						class="bg-black aspect-square max-w-[20rem] max-h-[20rem] w-full"
					>
						<img
							src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSn2zYLLsJjVQynvpck60kkJ73qQbIGHorfuksTLvCrCyjviwbC-izY9Q5T4B62oihx0E&usqp=CAU"
							alt="wapizima"
							class="h-auto w-full bg-contain object-contain"
						/>
					</figure>

					<h4>Wapizima</h4>
					<p class="">
						Ecommerce global desarrollado con NextJs, Tailwind CSS y
						Redux. En esta plataforma, con opciones de divisas
						asegurando así una experiencia de compra eficiente y
						adaptada a usuarios de diversas regiones del mundo.
					</p>
					<footer
						class="flex justify-between items-center [&>*:first-child]:mr-8 text-center mt-2"
					>
						<a
							href="#"
							class="block py-2 px-6 card-border mt-2 relative
							bg-orange-600 hover:bg-orange-500
							after:absolute after:bottom-0 after:h-1 after:w-full after:bg-orange-800 after:left-0
							before:absolute before:bottom-0 before:h-full before:w-1 before:bg-orange-800 before:right-0
							hover:after:h-[6px] hover:before:w-[6px] transition-all duration-75 after:transition-all after:duration-75
							before:transition-all before:duration-75 w-auto"
						>
							<ExternalLinkIcon width="30" height="30" />
						</a>
						<a
							href="#"
							class="block py-2 px-6 card-border mt-2 relative
						bg-blue-600 hover:bg-blue-500
						after:absolute after:bottom-0 after:h-1 after:w-full after:bg-blue-800 after:left-0
						before:absolute before:bottom-0 before:h-full before:w-1 before:bg-blue-800 before:right-0
						hover:after:h-[6px] hover:before:w-[6px] transition-all duration-75 after:transition-all after:duration-75
						before:transition-all before:duration-75 w-auto"
						>
							<CodeIcon width="30" height="30" />
						</a>
					</footer>
				</article>
			</div>
		</section>

		<SkillSection />
	</main>
</Layout>
