---
import Layout from "../layouts/Layout.astro";
import SkillSection from "../components/SkillSection.astro";
import Header from "../components/Header.astro";
import Projects from "../components/Projects.astro";
import Experince from "../components/Experince.astro";
---

<Layout title="DuarteBv">
  <main
    class="w-full py-20 px-10 lg:px-32 items-center font-bold min-h-screen relative"
  >
    <Header />

    <Experince />
    <Projects />

    <SkillSection />
  </main>
</Layout>

<script>
  const mouseElement = document.createElement("div");
  mouseElement.classList.add(
    "w-[50rem]",
    "h-[50rem]",
    "rounded-full",
    "blur-[10rem]",
    "bg-purple-500/15",
    "fixed",
    "-z-10",
    "flex",
    "justify-center",
    "items-center",
    "transition-all",
    "duration-75",
    "ease-in-out"
  );
  document.querySelector("main")?.appendChild(mouseElement);

  document.addEventListener("mousemove", (event) => {
    if (!mouseElement) return;

    mouseElement.style.left = event.clientX - 300 + "px";
    mouseElement.style.top = event.clientY - 300 + "px";
  });
</script>
