---
import ExperienceItem from "./ExperienceItem.astro";
---

<section
  id="experience"
  class="w-ful py-20 text-white [&>article]:transition-all [&>article]:duration-300 [&>article]:mx-1 [&>article]:lg:ml-10 overflow-hidden normal-text"
>
  <h3
    class="text-3xl lg:tracking-widest text-white text-left inline-flex items-center font-bold uppercase"
  >
    Mi experiencia
  </h3>
  <div>
    <ExperienceItem
      title={`FGJEM - Desarrollador de software`}
      description={`Ingeniero de software con experiencia en el desarrollo de aplicaciones a la
      medida, liderando proyectos tecnológicos y proponiendo soluciones innovadoras
      basadas en nuevas tecnologías.`}
      year="2024 - 2025"
    />
    <ExperienceItem
      title={`IGECEM - Desarrollador de fullstack`}
      description={`Desarrollador de software como asesor externo, especializado en la mejora y optimización de sistemas internos, aportando soluciones eficientes y alineadas con los objetivos del negocio.`}
      year="2021 - 2023"
    />
    <ExperienceItem
      title={`Digital Pineapple - Desarrollador de fullstack`}
      description={`Como desarrollador Full Stack, lideré la creación de plataformas robustas y escalables, diseñadas para atender a miles de usuarios. Mi enfoque integró la versatilidad del desarrollo tanto en el frontend como en el backend.`}
      year="2021 - 2023"
    />
  </div>
</section>
