---
import ArrowUpIcon from "./icons/ArrowUpIcon.astro";

interface Props {
  title: string;
  description: string;
  year: string;
}

const { title, description, year }: Props = Astro.props;
---

<article
  class="relative paragraph p-5 hover:bg-black/10 hover:backdrop-blur-2xl transition-all duration-500 rounded-2xl hover:transition-all hover:duration-500 [&>svg]:absolute
  [&>svg]:top-4 [&>svg]:right-4 [&>svg]:size-5 [&>svg]:text-orange-500 [&>svg]:transition-all [&>svg]:duration-500 [&>svg]:rotate-45 [&>svg]:hover:right-2 [&>svg]:hover:top-2"
>
  <ArrowUpIcon />
  <h4 class="text-orange-400 font-bold text-2xl my-2">
    {title}
  </h4>
  <div
    class="normal-text mb-4 font-bold text-gray-300 gap-y-4 w-9/12 flex flex-col gap-5"
  >
    <p>
      {description}
    </p>
    <p>{year}</p>
  </div>
</article>
