---
import ExperienceItem from "./ExperienceItem.astro";
---

<section
  id="experience"
  class="w-ful py-20 text-white xl:px-40 [&>article]:transition-all [&>article]:duration-300 [&>article]:mx-1 [&>article]:lg:ml-10 overflow-hidden normal-text"
>
  <h3
    class="bg-gradient-to-t from-purple-950 to-purple-100 inline-block text-transparent py-5 bg-clip-text text-4xl lg:text-6xl font-bold uppercase font-[Poppins]"
  >
    EXPERIENCE
  </h3>
  <div class="grid gap-5">
    <ExperienceItem
      title={`FGJEM - Software Engineer`}
      description={`Software engineer with extensive experience in custom application development, technology project management, and designing innovative solutions based on emerging technologies. Focused on process automation through DevOps practices.`}
      year="2024 - 2025"
    />
    <ExperienceItem
      title={`IGECEM - Fullstack Developer`}
      description={`Software developer as an external consultant, specializing in the improvement and optimization of internal systems, providing efficient solutions aligned with business objectives.`}
      year="2023 - 2024"
    />
    <ExperienceItem
      title={`Digital Pineapple - Fullstack Developer`}
      description={`As a full-stack developer, I led the creation of robust and scalable platforms designed to serve thousands of users. My approach integrated the versatility of front-end and back-end development.`}
      year="2021 - 2023"
    />
  </div>
</section>
