---
import MoonIcon from "./icons/MoonIcon.astro";
---

<section
  id="experience"
  class="w-ful py-20 text-white [&>article]:transition-all [&>article]:duration-300 [&>article]:mx-1 [&>article]:lg:ml-10 overflow-hidden"
>
  <h3
    class="text-5xl lg:tracking-widest text-white mb-10 text-left inline-flex items-center [&>svg]:mr-2 [&>svg]:text-yellow-400"
  >
    <MoonIcon width="50" height="50" />
    Experiencia laboral
  </h3>
  <div>
    <article
      class="paragraph py-5 after:transition-all after:duration-400 [&>p]:text-base"
    >
      <h4 class="text-blue-600 font-bold text-3xl my-2">
        Analista de sistemas
      </h4>
      <div class="text-emerald-500 text-2xl mb-4 flex justify-between">
        <span>IGECEM</span>
        <span class="font-">Actualmente</span>
      </div>
      <p>
        Me especializo en el desarrollo de sistemas internos a medida, diseñados
        específicamente para satisfacer las necesidades del instituto. Mi
        enfoque se distingue por la implementación de herramientas innovadoras
        que optimizan procesos y potencian la eficiencia. Cada solución que
        construyo es única y adaptada, asegurando que el instituto cuente con
        herramientas tecnológicas personalizadas para impulsar su éxito.
      </p>
    </article>
    <article
      class="paragraph py-5 after:transition-all after:duration-400 [&>p]:text-base"
    >
      <h4 class="text-blue-500 font-bold text-3xl my-2">
        Desarrollador Fullstack
      </h4>
      <div class="text-emerald-500 text-2xl mb-4 flex justify-between">
        <span>Digital Pineapple</span>
        <span class="font-">2021 - 2023</span>
      </div>
      <p>
        Como desarrollador Full Stack, estuve a cargo de la creación de
        plataformas robustas y escalables diseñadas para atender a miles de
        usuarios. Mi enfoque se centró en fusionar la versatilidad del
        desarrollo tanto en el frontend como en el backend, asegurando que cada
        aspecto de la experiencia del usuario estuviera cuidadosamente
        elaborado.
      </p>
    </article>
  </div>
</section>
