---
import GithubIcon from "./icons/GithubIcon.astro";
import LinkedinIcon from "./icons/LinkedinIcon.astro";
---

<header class="flex items-center justify-between" id="about-me">
  <div>
    <figure
      class="bg-black border-emerald-600 relative rounded-full before:rounded-full max-h-[22rem] max-w-[22rem] aspect-square"
    >
      <div class="overflow-hidden w-full h-full rounded-full">
        <img
          src="/imgs/me-pixel-art.webp"
          alt="Eduardo Duarte"
          class="h-auto w-full object-cover bg-center -mt-12"
        />
      </div>
    </figure>
    <div class="mt-5 normal-text text-white">
      <div class="mt-5 flex items-center gap-3">
        <a
          href="/EduardoDuarteCV.pdf"
          type="button"
          target="_blank"
          class="px-4 py-2 rounded-md border hover:transition-all hover:duration-500 hover:border-yellow-500 hover:bg-yellow-500/50"
        >
          Curriculum
        </a>
        <a
          href="https://mx.linkedin.com/in/duartedc"
          type="button"
          target="_blank"
          class="flex items-center gap-3 px-4 py-2 rounded-md border hover:transition-all hover:duration-500 hover:border-yellow-500 hover:bg-yellow-500/50"
        >
          <LinkedinIcon width="20" height="20" />
          LinkedIn
        </a>
        <a
          href="https://github.com/DuarteDc"
          type="button"
          target="_blank"
          class="flex items-center gap-3 px-4 py-2 rounded-md border hover:transition-all hover:duration-500 hover:border-yellow-500 hover:bg-yellow-500/50"
        >
          <GithubIcon width="20" height="20" />
          Github
        </a>
      </div>
    </div>
  </div>
  <div>
    <span class="text-white text-3xl"> Hola, mi nombre es </span>
    <h1 class="text-[8rem] text-white uppercase leading-none">
      Duarte<span class="text-yellow-500 capitalize">Bv</span>
    </h1>
    <span class="text-white gap-2 text-2xl">
      <p>
        Ingeniero de software.
        <b class="text-gray-500">
          Desarrollador autodidacta con interés en la tecnología.
        </b>
      </p>
    </span>
  </div>

  <script>
    //TODO
    console.log("Change image");
  </script>
</header>
