---
import GithubIcon from "./icons/GithubIcon.astro";
import LinkedinIcon from "./icons/LinkedinIcon.astro";
---

<header class="w-full grid grid-cols-1 lg:grid-cols-3 gap-x-10 uppercase">
    <figure
        class="bg-black border-orange-600 border-4 relative before:absolute before:top-0 before:left-4 before:-z-10
    before:w-[calc(100%-2px)] before:border-4 before:border-orange-600 before:h-[calc(100%+15px)] rounded-full before:rounded-full mb-10 max-h-[22rem] max-w-[22rem] aspect-square"
    >
        <div class="overflow-hidden w-full h-full rounded-full">
            <img
                src="/imgs/me-pixel-art.webp"
                alt="wapizima"
                class="h-auto w-full object-cover bg-center -mt-12"
            />
        </div>
    </figure>
    <div
        class="col-span-2 flex flex-col justify-center tracking-wider lg:tracking-[10px]"
    >
        <h1
            class="text-5xl text-slate-200 font-bold mb-4 text- relative
    before:content-['Hola,_soy_DuarteBv'] before:absolute before:text-black before:left-0 before:top-2 before:h-full before:w-full before:-z-10"
        >
            Hola, soy DuarteBv
        </h1>
        <h2
            class="text-7xl text-blue-600 font-semibold relative text-jumping before:content-['Software_developer']
        before:absolute before:text-black before:left-1 before:top-3 before:h-full before:w-full
        before:-z-10"
        >
            Software developer
        </h2>
    </div>
    <div class="flex items-center gap-4 justify-between md:justify-around my-5">
        <span
            class="bg-orange-600 py-3 flex justify-center items-center relative
    after:absolute after:bottom-0 after:z-10 after:h-1 after:bg-orange-800 after:w-full [&>i]:absolute [&>i]:h-2 [&>i]:w-2
    [&>i]:bg-orange-800 hover:bg-orange-500 transition-all duration-150 w-6/12
 hover:before:bg-orange-600/10 before:block pointer
     card-border"
        >
            <i class="top-1 right-1"></i>
            <i class="top-1 left-1"></i>
            <i class="bottom-2 right-1"></i>
            <i class="bottom-2 left-1"></i>
            <a href="" class="pointer">Ver CV</a>
        </span>
        <a href="https://mx.linkedin.com/in/duartedc" target="_blank" class="pointer">
            <span
                class="bg-blue-600 py-3 px-4 flex justify-center items-center relative
    after:absolute after:bottom-0 after:z-10 after:h-1 after:bg-blue-700 after:w-full after:transition-all after:duration-500 [&>i]:absolute [&>i]:h-2 [&>i]:w-2 group
    [&>i]:bg-blue-700 w-auto hover:bg-blue-500 transition-all duration-150 card-border pointer"
            >
                <i class="group-hover:bg-blue-700 top-1 right-1"></i>
                <i class="group-hover:bg-blue-700 top-1 left-1"></i>
                <i class="group-hover:bg-blue-700 bottom-2 right-1"></i>
                <i class="group-hover:bg-blue-700 bottom-2 left-1"></i>
                <LinkedinIcon />
            </span>
        </a>
        <a href="https://github.com/DuarteDc" target="_blank" class="pointer">
            <span
                class="bg-[#010409] py-3 px-4 flex justify-center items-center relative
    after:absolute after:bottom-0 after:z-10 after:h-1 after:bg-[#21262d] after:w-full after:transition-all after:duration-500 [&>i]:absolute [&>i]:h-2 [&>i]:w-2 group
    [&>i]:bg-[#0d1117] w-auto hover:bg-[#0d1117] transition-all duration-150 card-border pointer"
            >
                <i class="group-hover:bg-[#010409] top-1 right-1"></i>
                <i class="group-hover:bg-[#010409] top-1 left-1"></i>
                <i class="group-hover:bg-[#010409] bottom-2 right-1"></i>
                <i class="group-hover:bg-[#010409] bottom-2 left-1"></i>
                <GithubIcon />
            </span>
        </a>
    </div>
</header>
