---
import GithubIcon from "./icons/GithubIcon.astro";
import LinkedinIcon from "./icons/LinkedinIcon.astro";
---

<header
  class="min-h-screen w-full flex items-center justify-center text-white gap-10"
>
  <div class="w-[600px] h-[600px] rounded-full overflow-hidden main-image">
    <img
      src="/imgs/me-pixel-art-no-bg.png"
      alt="cursor pointer"
      class="w-full h-full object-cover mix-blend-lighten shadow-2xl opacity-90"
    />
  </div>
  <div class="w-6/12">
    <span class="flex items-center gap-4">
      <hr class="h-[1px] w-[6rem] bg-white text-white" />
      <p>DuarteBv</p>
    </span>
    <h1 class="text-[10rem] break-words w-full leading-none font-[Poppins]">
      Software Engineer<b class="text-blue-500">.</b>
    </h1>
    <span
      class="mt-10 block break-words w-7/12 text-sm font-bold text-gray-400"
    >
      Passionate about creating engaging user experiences with a full-stack
      approach. I transform ideas into functional products, automate processes,
      and develop scalable and efficient systems.
    </span>
    <div class="mt-5 flex items-center gap-3">
      <a
        href="https://mx.linkedin.com/in/duartedc"
        type="button"
        target="_blank"
        class="flex items-center gap-3 px-4 py-2 rounded-md border hover:transition-all hover:duration-500 hover:border-yellow-500 hover:bg-yellow-500/50"
      >
        <LinkedinIcon width="20" height="20" />
        LinkedIn
      </a>
      <a
        href="https://github.com/DuarteDc"
        type="button"
        target="_blank"
        class="flex items-center gap-3 px-4 py-2 rounded-md border hover:transition-all hover:duration-500 hover:border-yellow-500 hover:bg-yellow-500/50"
      >
        <GithubIcon width="20" height="20" />
        Github
      </a>
    </div>
  </div>
</header>
