---
import GithubIcon from "./icons/GithubIcon.astro";
import LinkedinIcon from "./icons/LinkedinIcon.astro";
---

<header
  id="about-me"
  class="min-h-[calc(100vh-10rem)] w-full flex flex-col lg:flex-row items-center justify-center text-white gap-4 lg:gap-10"
>
  <div
    class="w-[250px] h-[250px] xl:w-[400px] xl:h-[400px] rounded-full overflow-hidden main-image"
  >
    <img
      src="/imgs/me-pixel-art-no-bg.png"
      alt="cursor pointer"
      class="w-full h-full object-cover mix-blend-lighten shadow-2xl opacity-90"
    />
  </div>
  <div class="w-full xl:w-6/12">
    <span class="flex items-center gap-4">
      <hr
        class="h-[1px] w-[6rem] bg-gradient-to-l from-purple-500 to-purple-900 border-none"
      />
      <p>DuarteBv</p>
    </span>
    <h1
      class="text-[3.5rem] lg:text-[5rem] xl:text-[8rem] break-words w-full leading-none font-[Poppins] bg-gradient-to-t from-purple-900 to-purple-100 inline-block text-transparent py-5 bg-clip-text text-4xl lg:text-6xl font-bold"
    >
      Software Engineer<b
        class="bg-gradient-to-t from-purple-950 to-purple-100 inline-block text-transparent py-5 bg-clip-text font-bold"
        >.</b
      >
    </h1>
    <span
      class="mt-10 block break-words w-full lg:w-7/12 text-sm font-bold text-gray-400"
    >
      Passionate about creating engaging user experiences with a full-stack
      approach. I transform ideas into functional products, automate processes,
      and develop scalable and efficient systems.
    </span>
    <div class="mt-5 flex items-center gap-3">
      <a
        href="https://mx.linkedin.com/in/duartedc"
        type="button"
        target="_blank"
        class="flex items-center gap-3 px-4 py-2 rounded-md border hover:transition-all hover:duration-500 hover:border-purple-500 hover:bg-purple-500/50 cursor-pointer"
      >
        <LinkedinIcon width="20" height="20" />
        LinkedIn
      </a>
      <a
        href="https://github.com/DuarteDc"
        type="button"
        target="_blank"
        class="flex items-center gap-3 px-4 py-2 rounded-md border hover:transition-all hover:duration-500 hover:border-purple-500 hover:bg-purple-500/50 cursor-pointer"
      >
        <GithubIcon width="20" height="20" />
        Github
      </a>
    </div>
  </div>
</header>
