---
import Card from "./Card.astro";
import CodeIcon from "./icons/CodeIcon.astro";

const PROJECTS = [
  {
    title: "Wapizima Ecommerce",
    description:
      "Ecommerce de productos de belleza a nivel mundial. Creado desde cero con Next.js, React y Tailwind CSS.",
    link: "https://wapizima.com/",
    image: "/imgs/projects/ecommerce.webp",
    company: "Digital Pineapple",
    time: "2022 - 2023",
  },
  {
    title: "Analisis de Riesgos",
    description:
      "Sistema para el analisis de riesgos dentro de instituciones gubernamentables. Creada desde cero con React, Tailwind CSS, PHP 8 y PostgreSQL",
    link: "https://miigecem.edomex.gob.mx/cuestionario/",
    github: "https://github.com/DuarteDc/FDRPSE",
    image: "/imgs/projects/cuestionario.webp",
    company: "IGECEM",
    time: "2024",
  },
  {
    title: "Wapizima OS",
    description:
      "Plataforma de cursos de belleza en línea. Creada desde cero con Laravel 8, Livewire, Tailwind CSS Y MySQL",
    link: "https://wapizima.com.mx/",
    image: "/imgs/projects/wos.webp",
    company: "Digital Pineapple",
    time: "2021 - 2022",
  },
  {
    title: "Inventario",
    description:
      "Plataforma para la administración de documentación. Creada desde cero con React, Tailwind CSS, PHP 8, PostgreSQL",
    link: "https://archivoigecem.edomex.gob.mx/",
    github: "https://github.com/DuarteDc/IVDA-Project",
    image: "/imgs/projects/inventario.webp",
    company: "IGECEM",
    time: "2023",
  },
];
---

<section
  id="projects"
  class="w-full lg:py-20 text-white [&>article]:transition-all [&>article]:duration-500"
>
  <h3
    class="text-5xl lg:tracking-widest text-white mb-24 flex justify-center items-center [&>svg]:mr-2 [&>svg]:text-yellow-400"
  >
    <CodeIcon width="50" height="50" /> Proyectos
  </h3>

  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-x-16 gap-y-20">
    {PROJECTS.map((project) => <Card {...project} />)}
  </div>
</section>
