---
import Card from "./Card.astro";

const PROJECTS = [
  {
    title: "Nomina",
    important: true,
    description:
      "Desarrollo y mantenimiento de sistema de nómina implementando React, PHP, Docker, Github Actions y CI/CD",

    image: "/imgs/projects/nomina.png",
    company: "FGJEM",
    time: "2024",
  },
  {
    title: "Predenuncia",
    important: true,
    description:
      "Desarrollo de aplicación para el manejo y administración de denuncias NextJs, Docker, Github Actions, Nginx Proxy y CI/CD",
    link: "https://fgjem.edomex.gob.mx/pre-denuncia-en-linea",
    image: "/imgs/projects/predenuncia.png",
    company: "FGJEM",
    time: "2024",
  },
  {
    title: "Wapizima Ecommerce",
    important: true,
    description:
      "Ecommerce de productos de belleza a nivel mundial. Creado desde cero con Next.js, React y Tailwind CSS.",
    link: "https://wapizima.com/",
    image: "/imgs/projects/ecommerce.webp",
    company: "Digital Pineapple",
    time: "2022 - 2023",
  },
  {
    title: "Analisis de Riesgos",
    important: true,
    description:
      "Sistema para el analisis de riesgos dentro de instituciones gubernamentables. Creada desde cero con React, Tailwind CSS, PHP 8 y PostgreSQL",
    link: "https://miigecem.edomex.gob.mx/cuestionario/",
    github: "https://github.com/DuarteDc/FDRPSE",
    image: "/imgs/projects/cuestionario.webp",
    company: "IGECEM",
    time: "2024",
  },
  {
    title: "Wapizima OS",
    important: true,
    description:
      "Plataforma de cursos de belleza en línea. Creada desde cero con Laravel 8, Livewire, Tailwind CSS Y MySQL",
    link: "https://wapizima.com.mx/",
    image: "/imgs/projects/wos.webp",
    company: "Digital Pineapple",
    time: "2021 - 2022",
  },
];
---

<section
  id="projects"
  class="w-full lg:py-20 text-white [&>article]:transition-all [&>article]:duration-500 flex flex-col overflow-hidden px-5"
>
  <h3
    class="text-center bg-gradient-to-t from-purple-950 to-purple-100 inline-block text-transparent py-5 bg-clip-text text-4xl lg:text-6xl font-bold uppercase font-[Poppins]"
  >
    PROJECTS
  </h3>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-7">
    {PROJECTS.slice(0, 2).map((project) => <Card {...project} />)}
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 xl:grid-cols-3 gap-7 mt-7">
    {PROJECTS.slice(2).map((project) => <Card {...project} />)}
  </div>
</section>
