---
import MoonIcon from "./icons/MoonIcon.astro";
import JSIcon from "./icons/JSIcon.astro";
import ReactIcon from "./icons/ReactIcon.astro";
import NodeIcon from "./icons/NodeIcon.astro";
import NextIcon from "./icons/NextIcon.astro";
import PhpIcon from "./icons/PhpIcon.astro";
import HeartIcon from "./icons/HeartIcon.astro";
import MySQLIcon from "./icons/MySQLIcon.astro";
import MongoIcon from "./icons/MongoIcon.astro";
import TailwindIcon from "./icons/TailwindIcon.astro";
import LaravelIcon from "./icons/LaravelIcon.astro";
import HTMLIcon from "./icons/HTMLIcon.astro";
import CssIcon from "./icons/CssIcon.astro";
import ReduxIcon from "./icons/ReduxIcon.astro";
import TypeScriptIcon from "./icons/TypeScriptIcon.astro";
---

<section class="whitespace-nowrap lg:px-2 pt-20 lg:py-20" id="section-skills">
  <h3
    class="bg-gradient-to-t from-purple-950 to-purple-100 inline-block text-transparent py-5 bg-clip-text text-4xl lg:text-6xl font-bold uppercase font-[Poppins]"
  >
    SKILLS
  </h3>

  <div
    class="flex flex-col lg:flex-row items-center text-white [&>div>span]: tracking-wider text-3xl"
  >
    <figure class="card-border lg:mr-4 my-4">
      <img
        src="imgs/cartoon-me-pixel-art.webp"
        alt="Eduardo Duarte"
        loading="lazy"
        class="aspect-auto w-[18rem]"
        id="me-pixel-art"
      />
    </figure>
    <div>
      <div class="flex">
        <span>EDUARDO DUARTE CLEMENTE</span>
      </div>
      <div
        class="[&>*:last-child]:flex [&>*:last-child]:items-center [&>*:last-child>svg]:text-yellow-600 [&>*:last-child>svg]:mr-4"
      >
        <span>Total XP:</span>
        <span><MoonIcon /> +3 años</span>
      </div>
      <div
        class="[&>*:last-child]:flex [&>*:last-child]:items-center [&>*:last-child>svg]:text-red-600 [&>*:last-child>svg]:mr-4"
      >
        <span>Edad:</span>
        <span><HeartIcon />24 años</span>
      </div>
    </div>
    <div class="w-full">
      <div class="flex justify-center flex-wrap gap-2 md:gap-4">
        <span
          class="card-border w-[5rem] flex items-center justify-center bg-yellow-400 relative after:bottom-0 m-2
        after:absolute after:h-2 after:w-full after:bg-yellow-600 py-1
        before:absolute before:w-2 before:h-full before:bg-yellow-600 before:right-0"
        >
          <JSIcon width="40" height="50" />
        </span>

        <span
          class="card-border w-[5rem] flex items-center justify-center bg-blue-400 relative after:bottom-0 m-2
        after:absolute after:h-2 after:w-full after:bg-blue-600 py-1
        before:absolute before:w-2 before:h-full before:bg-blue-600 before:right-0"
        >
          <ReactIcon width="40" height="50" />
        </span>

        <span
          class="card-border w-[5rem] flex items-center justify-center bg-green-400 relative after:bottom-0 m-2
        after:absolute after:h-2 after:w-full after:bg-green-600 py-1
        before:absolute before:w-2 before:h-full before:bg-green-600 before:right-0"
        >
          <NodeIcon width="40" height="50" />
        </span>
        <span
          class="card-border w-[5rem] flex items-center justify-center bg-blue-400 relative after:bottom-0 m-2
after:absolute after:h-2 after:w-full after:bg-blue-600 py-1
before:absolute before:w-2 before:h-full before:bg-blue-600 before:right-0"
        >
          <TailwindIcon width="40" height="50" />
        </span>

        <span
          class="card-border w-[5rem] flex items-center justify-center bg-black relative text-white after:bottom-0 m-2
    after:absolute after:h-2 after:w-full after:bg-zinc-900 py-1
    before:absolute before:w-2 before:h-full before:bg-zinc-900 before:right-0"
        >
          <NextIcon width="40" height="50" />
        </span>

        <span
          class="card-border w-[5rem] flex items-center justify-center bg-purple-400 relative after:bottom-0 m-2
        after:absolute after:h-2 after:w-full after:bg-purple-600 py-1
        before:absolute before:w-2 before:h-full before:bg-purple-600 before:right-0"
        >
          <PhpIcon width="40" height="50" />
        </span>

        <span
          class="card-border w-[5rem] flex items-center justify-center bg-red-400 relative after:bottom-0 m-2
        after:absolute after:h-2 after:w-full after:bg-red-600 py-1
        before:absolute before:w-2 before:h-full before:bg-red-600 before:right-0"
        >
          <LaravelIcon width="40" height="50" />
        </span>
        <span
          class="card-border w-[5rem] flex items-center justify-center bg-blue-400 relative after:bottom-0 m-2
    after:absolute after:h-2 after:w-full after:bg-blue-600 py-1
    before:absolute before:w-2 before:h-full before:bg-blue-600 before:right-0"
        >
          <MySQLIcon width="40" height="50" />
        </span>

        <span
          class="card-border w-[5rem] flex items-center justify-center bg-green-400 relative after:bottom-0 m-2
        after:absolute after:h-2 after:w-full after:bg-green-600 py-1
        before:absolute before:w-2 before:h-full before:bg-green-600 before:right-0"
        >
          <MongoIcon width="40" height="50" />
        </span>
        <span
          class="card-border w-[5rem] flex items-center justify-center bg-blue-400 relative after:bottom-0 m-2
after:absolute after:h-2 after:w-full after:bg-blue-600 py-1
before:absolute before:w-2 before:h-full before:bg-blue-600 before:right-0"
        >
          <TypeScriptIcon width="40" height="50" />
        </span>
        <span
          class="card-border w-[5rem] flex items-center justify-center bg-orange-400 relative after:bottom-0 m-2
    after:absolute after:h-2 after:w-full after:bg-orange-600 py-1
    before:absolute before:w-2 before:h-full before:bg-orange-600 before:right-0"
        >
          <HTMLIcon width="40" height="50" />
        </span>
        <span
          class="card-border w-[5rem] flex items-center justify-center bg-blue-400 relative after:bottom-0 m-2
after:absolute after:h-2 after:w-full after:bg-blue-600 py-1
before:absolute before:w-2 before:h-full before:bg-blue-600 before:right-0"
        >
          <CssIcon width="40" height="50" />
        </span>

        <span
          class="card-border w-[5rem] flex items-center justify-center bg-purple-400 relative after:bottom-0 m-2
    after:absolute after:h-2 after:w-full after:bg-purple-600 py-1
    before:absolute before:w-2 before:h-full before:bg-purple-600 before:right-0"
        >
          <ReduxIcon width="40" height="50" />
        </span>
      </div>
    </div>
  </div>

  <!-- <div class="inline-flex slide mt-10" id="slide-skills">
        <span
            class="card-border w-[5rem] lg:w-10/12 flex items-center justify-center bg-yellow-400 relative after:bottom-0 mx-4 lg:mx-10
        after:absolute after:h-2 after:w-full after:bg-yellow-600 py-1
        before:absolute before:w-2 before:h-full before:bg-yellow-600 before:right-0"
        >
            <JSIcon width="190" height="80" />
        </span>

        <span
            class="card-border w-[5rem] lg:w-10/12 flex items-center justify-center bg-blue-400 relative after:bottom-0 mx-4 lg:mx-10
        after:absolute after:h-2 after:w-full after:bg-blue-600 py-1
        before:absolute before:w-2 before:h-full before:bg-blue-600 before:right-0"
        >
            <ReactIcon width="190" height="80" />
        </span>

        <span
            class="card-border w-[5rem] lg:w-10/12 flex items-center justify-center bg-green-400 relative after:bottom-0 mx-4 lg:mx-10
        after:absolute after:h-2 after:w-full after:bg-green-600 py-1
        before:absolute before:w-2 before:h-full before:bg-green-600 before:right-0"
        >
            <NodeIcon width="190" height="80" />
        </span>
        <span
            class="card-border w-[5rem] lg:w-10/12 flex items-center justify-center bg-blue-400 relative after:bottom-0 mx-4 lg:mx-10
after:absolute after:h-2 after:w-full after:bg-blue-600 py-1
before:absolute before:w-2 before:h-full before:bg-blue-600 before:right-0"
        >
            <TailwindIcon width="190" height="80" />
        </span>

        <span
            class="card-border w-[5rem] lg:w-10/12 flex items-center justify-center bg-black relative text-white after:bottom-0 mx-4 lg:mx-10
    after:absolute after:h-2 after:w-full after:bg-zinc-900 py-1
    before:absolute before:w-2 before:h-full before:bg-zinc-900 before:right-0"
        >
            <NextIcon width="190" height="80" />
        </span>

        <span
            class="card-border w-[5rem] lg:w-10/12 flex items-center justify-center bg-purple-400 relative after:bottom-0 mx-4 lg:mx-10
        after:absolute after:h-2 after:w-full after:bg-purple-600 py-1
        before:absolute before:w-2 before:h-full before:bg-purple-600 before:right-0"
        >
            <PhpIcon width="190" height="80" />
        </span>

        <span
            class="card-border w-[5rem] lg:w-10/12 flex items-center justify-center bg-red-400 relative after:bottom-0 mx-4 lg:mx-10
        after:absolute after:h-2 after:w-full after:bg-red-600 py-1
        before:absolute before:w-2 before:h-full before:bg-red-600 before:right-0"
        >
            <LaravelIcon width="190" height="80" />
        </span>
        <span
            class="card-border w-[5rem] lg:w-10/12 flex items-center justify-center bg-blue-400 relative after:bottom-0 mx-4 lg:mx-10
    after:absolute after:h-2 after:w-full after:bg-blue-600 py-1
    before:absolute before:w-2 before:h-full before:bg-blue-600 before:right-0"
        >
            <MySQLIcon width="190" height="80" />
        </span>

        <span
            class="card-border w-[5rem] lg:w-10/12 flex items-center justify-center bg-green-400 relative after:bottom-0 mx-4 lg:mx-10
        after:absolute after:h-2 after:w-full after:bg-green-600 py-1
        before:absolute before:w-2 before:h-full before:bg-green-600 before:right-0"
        >
            <MongoIcon width="190" height="80" />
        </span>
    </div> -->
</section>

<!-- <script is:inline>
    const copySlideSection = document
        .getElementById("slide-skills")
        .cloneNode(true);
    document.getElementById("section-skills").appendChild(copySlideSection);
</script> -->
