---
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="preload"
      href="/fonts/Poppins-ExtraBold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/imgs/cursor-pointer.webp"
      as="image"
      type="image/avif"
    />
    <link rel="preload" href="/imgs/cursor.webp" as="image" type="image/avif" />
    <link rel="stylesheet" href="/main.css" />
    <meta name="robots" content="index, follow" />
    <meta property="og:type" content="website" />
    <meta name="description" content="Portafolio web - Eduardo Duarte" />
    <meta property="og:image" content="/imgs/cartoon-me-pixel-art.webp" />
    <meta property="og:url" content="https://portfolio-duartebv.netlify.app/" />
    <link rel="canonical" href="https://portfolio-duartebv.netlify.app/" />
    <style is:global>
      html,
      body {
        font-family: "Poppins";
      }
    </style>
    <title>{title}</title>
  </head>
  <body
    class="box overflow-x-hidden h-screen flex flex-col items-center w-full relative bg-no-repeat min-h-svh bg-gradient-to-t from-black via-slate-900 to-slate-900 bg-fixed"
  >
    <slot />
  </body>
</html>
