---
interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preload" href="/fonts/VT323.woff2" as="font">
		<link rel="preload" href="/imgs/cursor-pointer.webp" as="image" type="image/avif" />
		<link rel="preload" href="/imgs/cursor.webp" as="image" type="image/avif" />
		<link  rel="stylesheet" href="/main.css"/>
		<style is:global>
			html, body {
				font-family: 'VT323';
			}
		</style>
		<title>{title}</title>
	</head>
	<body class="flex flex-col items-center w-full bg-no-repeat min-h-svh bg-black/90 bg-fixed">
		<slot />
	</body>
</html>
