---
import Navbar from "../components/Navbar.astro";

interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="preload"
      href="/fonts/Poppins-ExtraBold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link rel="stylesheet" href="/main.css" />
    <meta name="robots" content="index, follow" />
    <meta property="og:type" content="website" />
    <meta name="description" content="Portafolio web - Eduardo Duarte" />
    <meta property="og:image" content="/imgs/cartoon-me-pixel-art.webp" />
    <meta property="og:url" content="https://portfolio-duartebv.netlify.app/" />
    <link rel="canonical" href="https://portfolio-duartebv.netlify.app/" />
    <style is:global>
      html,
      body {
        font-family: "Roboto";
      }
    </style>
    <title>{title}</title>
  </head>
  <body
    class="overflow-x-hidden h-screen flex flex-col items-center w-full relative bg-no-repeat min-h-svh bg-gradient-to-b from-neutral-800 via-neutral-900 to-black bg-fixed max-w-[2000px] mx-auto"
  >
    <main
      class="w-full py-20 px-10 lg:px-32 items-center font-bold min-h-screen relative"
    >
      <slot />
      <Navbar />
    </main>
  </body>

  <script is:inline>
    const mouseElement = document.createElement("div");
    mouseElement.classList.add(
      "w-[50rem]",
      "h-[50rem]",
      "rounded-full",
      "blur-[10rem]",
      "bg-purple-500/15",
      "fixed",
      "-z-10",
      "flex",
      "justify-center",
      "items-center",
      "transition-all",
      "duration-75",
      "ease-in-out"
    );
    document.querySelector("main")?.appendChild(mouseElement);

    document.addEventListener("mousemove", (event) => {
      if (!mouseElement) return;

      mouseElement.style.left = event.clientX - 300 + "px";
      mouseElement.style.top = event.clientY - 300 + "px";
    });
  </script>
</html>
